In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('../../data/Film_Dataset.csv')
df.head()

NameError: name 'pd' is not defined

In [9]:
df.columns

Index(['Film_Name', 'Release_Date', 'Category', 'Language', 'Viewer_Rate',
       'Number_of_Views', 'Viewing_Month'],
      dtype='object')

In [10]:
print(df.columns)

Index(['Film_Name', 'Release_Date', 'Category', 'Language', 'Viewer_Rate',
       'Number_of_Views', 'Viewing_Month'],
      dtype='object')

In [11]:
df.isnull().sum()

Film_Name          0
Release_Date       0
Category           0
Language           0
Viewer_Rate        0
Number_of_Views    0
Viewing_Month      0
dtype: int64

In [12]:
print(df.duplicated().sum())
print(df.shape)

0
(460, 7)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Film_Name        460 non-null    object
 1   Release_Date     460 non-null    object
 2   Category         460 non-null    object
 3   Language         460 non-null    object
 4   Viewer_Rate      460 non-null    float64
 5   Number_of_Views  460 non-null    int64
 6   Viewing_Month    460 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 25.3+ KB

In [15]:
df.head(20)

,Film_Name,Release_Date,Category,Language,Viewer_Rate,Number_of_Views,Viewing_Month
0,Chennai Express,9/12/2021,Romance,Hindi,4.5,36395,2022-09
1,Mountain Trail,4/27/2020,Comedy,English,3.5,93162,2021-07
2,Eternal Hope,7/4/2020,Romance,English,4.6,98663,2021-04
3,Seoul Heartbeat,4/17/2020,Comedy,English,4.1,112635,2020-07
4,Shadow Pact,2/24/2022,Documentary,English,4.3,29496,2023-05
5,Sunset Vows,6/22/2020,Drama/Thriller,English,4.7,82472,2022-05
6,Mountain Trail,5/30/2024,Horror,English,4.9,56001,2024-08
7,Kochi Waves,12/8/2022,Horror,English,4.5,55228,2024-06
8,Eternal Hope,2/12/2022,Comedy,English,4.2,91149,2022-06
9,Seoul Heartbeat,5/14/2021,Comedy,English,3.6,88038,2023-01
10,Midnight Train,1/8/2020,Documentary,English,4.6,39793,2021-02
11,Taipei Secrets,11/27/2022,Action/Sci-Fi,English,4.6,123996,2023-12
12,Mirror Maze,3/31/2022,Romance,English,3.9,95604,2023-10
13,Taipei Secrets,3/4/2022,Documentary,English,4.6,31561,2022-04
14,Silent Echoes,12/12/2021,Romance,English,3.9,93843,2022-08
15,Digital Dawn,9/11/2024,Horror,English,3.7,63936,2025-07
16,A Summer Dream,2/10/2020,Comedy,English,4.1,90310,2021-04
17,Tech Singularity,4/7/2020,Horror,English,4.5,62864,2021-06
18,Love in the Frost,9/2/2020,Romance,English,3.9,170350,2022-02
19,Lahore Nights,8/16/2021,Romance,English,4.2,171661,2023-02